{% extends 'index.html' %}

{% block content %}

  {% block content_header %}
    <h2>Teacher Info</h2>

  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
          <th>Department</th>


        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for i in teacher %}
        <tr>
          <td>{{ i.t_id }}</td>
          <td>{{ i.t_name }}</td>
          <td>{{ i.email }}</td>
            <td>{{ i.dpt }}</td>





          <td>
            <form method="post" action="{% url 'edit_teacher' i.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-success btn-md">Edit</button>
            </form>
          </td>
          <td>
            <form method="post" action="{% url 'delete_teacher' i.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger btn-md">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
