{% extends 'index.html' %}

{% load static %}

{% block content %}
<h2>Teacher Details</h2>
  <form method="post" class="form-horizontal" action="/teacher/upload/" enctype="multipart/form-data" >
    {% csrf_token %}

      <div class="form-group row">
            <label class="col-sm-2 col-form-label">ID:</label>
            <div class="col-sm-4">
                {{ form.t_id }}
            </div>
        </div>
      <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-4">
                {{ form.t_name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-4">
                {{ form.email }}
            </div>
        </div>
      <div class="form-group row">
            <label class="col-sm-2 col-form-label">department:</label>
            <div class="col-sm-4">
                {{ form.dpt }}
            </div>
        </div>

        </div>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </div>
</form>
{% endblock %}

